*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, butthole;
}
article{
    width: 90%;
    margin: auto;
    
}

.company-name {
    margin: 8px;
}

#cn{
    color:#333;
    font-size: 42px;
    font-weight: bold;
    font-family: "Trebuchet MS", serif;
    position: relative;
    left: 6px;
    top: -29px;
}

#cn-subtitle {
    display: flex;
    font-size: 13px;
    font-family: "Trebuchet MS", serif;
    position: relative;
    left: 94px;
    top: -26px;
    color: #fdbe00;
}

#c-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
header{
    padding: 8px 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 12px 5px;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;  
    
}
.navbar-links li a{
    padding: 16px 40px;
    display: block;
    text-decoration: none;
    color:#333;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar-links li:hover{
    transform: scale(1.1);
    color: #fdbe00;
}
.toggle-button{
    position: absolute;
    top: 38px;
    right: 38px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height:3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 1050px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none; 
        width:100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        flex-direction: column;
        width:100%;
    }
    /* .navbar-links li{
        text-align: center;
    } */
    .navbar-links li a {
        padding: 8px 16px
    }
    .navbar-links.active{
        display: flex;
    }
}
header hr{
    border: 2px solid black;
}

footer{
    background-color: #484848;
    
}
.footer-left{
    width: 300px;
    height: 200px;
    padding-top: 20px;
    margin: 1px 5px;
    position: relative;
    top: 115px;
}
#c-banner{
    width: 295px;;
    height: 90px;;
}
.footer-cnsocials img{
    width:40px;
    height:40px;
}
.footer-cnsocials{
    padding:5px;
    display: flex;
    justify-content: center;
}
.footer-right{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
    top: -25px;
    
}
footer ul li {
    list-style: none;
    text-decoration: none; 
    display: inline;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-nav{
    padding: 20px;
    display: flex;
    height: 120%;
}
.footer-nav li{
    border-right: 1px solid #8b8b8b;
    padding: 15px;
}
.footer-nav a{
    color: white;
    list-style: none;
    text-decoration: none; 
}

.footer-info{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    display: flex;
    padding: 10px 5px;
}

@media (max-width: 980px){
    .footer-right{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:auto;
    }
    .footer-left{
        margin:auto;
        top: 0px;
    }
    .footer-nav li{
        padding: 11px;
    }
}
article{
    min-height: 1000px;
}
table{
    display: block;
    padding:10px;
    text-align: center;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
    max-width: fit-content;
    margin: auto;
}
hr {
    border-top: 1px solid white;
    width:100%;
    margin: 10px 0px;
}
.button-css a:hover {
    background-color:#d1d1d1
}
.button-css a:active{
    background-color:#999;
    box-shadow: 0 2px #666;
    transform:translateY(4px);
}
.button-css a:visited {
    text-decoration: none;
}
.button-css {
    text-decoration: none;
    color:black;
}
.button-buy a{
    border-radius: 50px;
    padding: 15px;
    margin: 0px 10px;
    font-size: 20px;
    background-color: #fdbe00;
    text-decoration: none;
    /* border: 1px solid black; */
    color: black;
    
}
.button-normal a{
    border-radius: 50px;
    padding: 15px;
    margin-right:20px;
    font-size: 20px;
    background-color: #fdbe00;
    text-decoration: none;
    /* border: 1px solid black; */
    color: black;
    
}
h1{
    font-family: 'Trebuchet MS';
}
h2{
    font-family: 'Trebuchet MS';
}
h3{
    font-family: 'Trebuchet MS';
}
h4{
    font-family: 'Trebuchet MS';
}
h5{
    font-family: 'Trebuchet MS';
}